body {
  font-family: helvetica
}

.preformatted {
  font-family: monospace;
  white-space: pre;  
}

li {
  margin-top: 0.5em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

caption {
  font-style: bold;
  font-size: 1.5em;
}

td, th {
   border: 1px solid black;
   margin: 0;
   padding: 0;
   width: 20em
}

.debug {
  display: none;
}
