.debug {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.preformatted {
  font-family: monospace;
  white-space: pre;  
}

li {
  margin-top: 0.5em;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

caption {
  font-style: bold;
  font-size: 1.5em;
}

td {
   text-align: left;
   margin: 0.5em
}

th {
   border-bottom: 1.5px solid black;
   padding-bottom: 2px;
   margin: 0.5em;
   text-align: left;
   width: 20em
}
