.preformatted {
  font-family: monospace;
  white-space: pre;  
}

caption {
  font-style: bold;
  font-size: 1.5em;
}

td, th {
   border: 1px solid black;
   margin: 0;
   padding: 0;
   width: 20em
}

.debug {
  display: none;
}
